<ion-view class="pane"> 
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar"> 
    <div class="buttons buttons-left header-item"> 
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
    <h1 class="title">Title</h1> 
    <div class="buttons buttons-right header-item"> 
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
  </ion-header-bar> 
  <ion-content data-component="crn-ion-content" class="scroll-content has-header"> 
    <div style="height: 100px;" data-component="crn-spacer" class="component-holder" id="crn-spacer-156755">
      &nbsp;
    </div>
    <a href="" class="component-holder" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="crn-anchor-850789" ng-click="cronapi.client('js.blockly.ComponenteVisual.LinkApp').run()">No App</a>
    <div style="height: 100px;" data-component="crn-spacer" class="component-holder" id="crn-spacer-101764">
      &nbsp;
    </div>
    <a href="" class="component-holder" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="crn-anchor-428940" ng-click="cronapi.server('blockly.ComponenteLink.LinkExternonoApp').run()">Navegador Externo</a>
  <div style="height: 100px;" data-component="crn-spacer" class="component-holder" id="crn-spacer-56981">
      &nbsp;
    </div><a href="" class="component-holder" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="crn-anchor-18351" ng-click="cronapi.server('blockly.ComponenteLink.Link_Externo_no_Navegador_do_Dispositivo').run()">outra opção grande</a><div style="height: 100px;" data-component="crn-spacer" class="component-holder" id="crn-spacer-66811">
      &nbsp;
    </div><a href="" class="component-holder" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="crn-anchor-64471" ng-click="cronapi.client('js.blockly.ComponenteVisual.Abrir_URLT').run()">True</a><div style="height: 100px;" data-component="crn-spacer" class="component-holder" id="crn-spacer-42771">
      &nbsp;
    </div><a href="https://www.google.com" class="component-holder" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="crn-anchor-46291" ng-click="">False</a><div style="height: 100px;" data-component="crn-spacer" class="component-holder" id="crn-spacer-78361">
      &nbsp;
    </div><a href="" class="component-holder" style="display:block" xattr-fullsize="display:block;" data-replace="true" data-component="crn-anchor" id="crn-anchor-72291" onclick="window.open('http://google.com', '_system', 'location=yes')">forum</a></ion-content> 
</ion-view>