<ion-view class="pane"> 
  <ion-content data-component="crn-ion-content" class="scroll-content"> 
    <i class="ion ion-star component-holder" id="icoFora" style="font-size:300%" xattr-size="font-size:300%" data-component="crn-icon"></i><button class="button button-block button-positive component-holder" type="submit" xattr-fullsize="button-block" xattr-theme="button-positive" ng-click="cronapi.client('js.blockly.Bloco.exibe').run()" data-component="crn-button" id="crn-button-108862"><i class="ion ion-home"></i> <span>abre</span></button><button class="button button-block button-positive component-holder" type="submit" xattr-fullsize="button-block" xattr-theme="button-positive" ng-click="" data-component="crn-button" id="crn-button-767174"><i class="ion ion-home"></i> <span>fecha</span></button> 
  </ion-content> 
</ion-view> 
<script type="text/ng-template" id="modal82216"><ion-modal-view>
   
    <ion-content class="scroll-content" data-component="crn-ion-content">
         <i class="ion ion-star component-holder" id="icoModal" style="; font-size:600%" xattr-size="font-size:600%" data-component="crn-icon"></i><button class="button button-block button-positive component-holder" type="submit" xattr-fullsize="button-block" xattr-theme="button-positive" ng-click="cronapi.client('js.blockly.Bloco.esconde').run()" data-component="crn-button" id="crn-button-1025532"><i class="ion ion-home"></i> <span>fechar</span></button> 
     <h1 data-component="crn-heading" class="component-holder" id="crn-heading-792448">Modal</h1></ion-content>
  </ion-modal-view></script>